# default_bit = 4096
distinguished_name = req_distinguished_name
prompt = no

[req_distinguished_name]
countryName             = IN
stateOrProvinceName     = Telangana
localityName            = Hyderabad
organizationName        = Git Technologies
organizationalUnitName	 = Product Engineering
emailAddress		 = vmelachervu@gmail.com
commonName              = Git Push Server

#[ req_attributes ]
# challengePassword=schallenge@myproduct
